<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro to define inertial properties -->
  <xacro:macro name="inertial" params="mass ixx iyy izz ixy ixz iyz origin_xyz origin_rpy">
    <inertial>
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
      <mass value="${mass}" />
      <inertia
        ixx="${ixx}" iyy="${iyy}" izz="${izz}"
        ixy="${ixy}" ixz="${ixz}" iyz="${iyz}" />
    </inertial>
  </xacro:macro>

</robot>